# Ignore Gradle project-specific cache directory
.gradle
.git
.settings
.classpath
.gitattributes
.project
.vscode


# Ignore Gradle build output directory
build/classes
build/bin
build/tmp
bin
gradle/wrapper

gradlew.bat
gradlew
settings.gradle
